/* 
body{
      background: linear-gradient(to right, rgba(0, 0, 0, 0.8), 
  rgba(0, 0, 0, 0)), url("https://lookw.ru/9/945/1566941301-oboi-008.jpg") center top no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(34, 31, 31);
    height: calc(100vh - 70px);
} */



#chatLog{
    /* text-align: center; */
    color: rgb(0, 0, 0);
    font-size: 24px;
}

.p{
    text-align: center;
    color: rgb(0, 0, 0);
}

#userBox{
    margin-top: 20vh;
    width: 70%;
}
